<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8">

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}">

    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles - Foundation 5 included}}

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    {{!-- styles for syntax highlighter you will find more here: https://github.com/isagalaev/highlight.js/tree/master/src/styles just change .min.css file name below --}}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/monokai_sublime.min.css">
    <link rel="stylesheet" href="{{asset "css/style.css"}}">

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}

    {{! Modernizr }}
    <script src="{{asset "js/vendor/modernizr.js"}}"></script>
</head>
<body class="{{body_class}}">

    {{! Everything else gets inserted here }}
    {{{body}}}

    {{> "footer"}}

    {{! Document borders}}
    <div class="tborder"></div>
    <div class="rborder"></div>
    <div class="bborder"></div>
    <div class="lborder"></div>

    {{#if @blog.navigation}}
        {{navigation}}
    {{/if}}

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript files }}
    <script type="text/javascript" src="{{asset "js/vendor/jquery-2.1.4.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/vendor/foundation.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/vendor/background-check.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/vendor/smoothscroll.js"}}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script>
    <script type="text/javascript" src="{{asset "js/abc.js"}}"></script>

</body>
</html>
