{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<nav class="main-nav">
    {{> "menu-activator-icon"}}
</nav>

<header class="main-header js-blog-bg-image {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <div class="main-header-content">
        {{#if @blog.logo}}
        <div class="post-logo-container">
            <a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>
        </div>
        {{/if}}
        <h1 class="page-title js-bg-check"><span>{{@blog.title}}</span></h1>
        <h2 class="page-description js-bg-check"><span>{{@blog.description}}</span></h2>
    </div>
</header>

{{! The main content area on the homepage }}
<main id="content" class="content home-template" role="main">
    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}
</main>

{{!-- GitHub badge (remove it) --}}
<a href="https://github.com/juliancwirko/abc"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png"></a>